body {
    width: auto;
    background-color: #117D10;
    font-family: 'Varela Round', sans-serif;
    font-size: larger;
    color: black;
  }
 
  main{
    border-radius: 50px;
    margin-inline: 150px;
    width: auto;
    background-color:#dddddd ;
    
  
  }
  section{
    margin-inline: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
 
  }
  hr{
    background-color: black;
    height: 5px;
    width: 85%;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 100px;
  }
  h2{
    border-radius: 100px 20px;
    border: 2px solid #000000;
    width: max-content;
    padding: 10px;
    font-style: italic;
  }
  h1{
    text-decoration-line: underline;
  }
  img.teste{
    border-radius: 100px;
  }
  img.logo{
    padding: 100px;
  }
  img.gif{
    image-resolution: 100px;
  }
  #menu{   
    background-color: #69af68;
    border-radius: 50px 50px 0px 0px;
   }
#menu ul{
  
   list-style: none;
   padding: 0px;
 
   
}
#menu ul li{
   display: inline;

   
}

#menu ul li button{
  border-radius: 15px 15px 0px 0px;
  border-color: #69af68;
   color: rgb(0, 0, 0);
   padding: 20px;
   transition: .5s;
   background-color: #DDDDDD;
   font-weight: bold;
   font-size: large;
   
}
#menu ul li button:hover{
   background-color: #69af68;
   
   
   
}
#topo{
  text-decoration: none;
  color: #000000;
  background-color: #69af68 ;
  padding: 10px;
  position: fixed;
  right: 10px;
  bottom: 10px;
}
